/.env
/vendor/
/var/
/node_modules/
/public/bundles/
/.env.local
/.idea/
/.vscode/
.DS_Store
/.env.local.php

# Composer
/composer.lock

# PHPUnit
/phpunit.xml

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
